<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <p>Please select period for statement</p>

    <form th:action="@{'/users/statement/' + ${accountId}}" th:object="${filters}" th:method="GET">
<!--    <form th:action="@{'/users/statement/' + ${accountId} + '/filters'}" th:object="${filters}" th:method="GET">-->
        <p>From:
            <input type="date" th:field="*{fromDate}"/>
        </p>
        <p>To:
            <input type="date" th:field="*{toDate}"/>
        </p>
        <input th:type="submit" value="Submit"/>
    </form>
<!--    <a th:href="@{'/users/statement/' + ${accountId}}" th:type="button" class="btn btn-light">View statement</a>-->

</div>

</body>
</html>