<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Finance manager</title>
    <style>
        .btn {
            min-width: 250px;
            text-transform: uppercase;
            color: #002540;
        }
        .bg-index {
            background-image:url('../../static/images/1104816.jpg');
            background-size: cover;
            height: 100vh
        }

        /*style="background-image:url('../../static/images/1104816.jpg');*/
        /*background-size: cover;*/
        /*height: 100vh")*/
    </style>
</head>
<body>

<div layout:fragment="content">
    <div
            class="bg-image bg-index">
        <div class="d-flex justify-content-center align-items-center vh-100">
            <a th:href="@{'/users'}" th:type="button" class="btn btn-lg btn-warning btn-start">START TEST MODE</a>
        </div>
    </div>
</div>

</body>
</html>