<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="content">
    <div class="input-group">
        <form th:action="@{'/users/' +  ${account.getId()} + '/transaction'}" th:object="${transaction}" th:method="POST">
                <p>Account of sender:
                    <input disabled type="text" th:value="${account.getAccountNumber()}"/>
                </p>
                <p>Account of receiver:
                    <input type="text" th:field="*{toAccountNumber}"/>
                </p>
                <p>Sum:
                    <input type="text" class="form-control" th:field="*{sum}"/>
                </p>
                <p>
                    <input th:type="submit" value="Submit"/>
                    <input type="reset" value="Reset"/>
                </p>
        </form>
    </div>
</div>

</body>
</html>