<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <style>
        .btn-back {
            width: 6em;
        }
    </style>
    <title>User select</title>
</head>
<body>

<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--    <select class="form-select" aria-label="Default select example">-->
<!--        <option selected>-&#45;&#45;</option>-->
<!--        <option th:value="${user.getId()}" th:each="user : ${users}" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}">One</option>-->
<!--    </select>-->
<!--&lt;!&ndash;    <a th:href="@{'/users/' + ${user.getId()}}" th:type="button" class="btn btn-light">Next</a>&ndash;&gt;-->
<!--&lt;!&ndash;    <a th:href="@{'/users/' + ${user.getId()}}" th:type="button" class="btn btn-light">Next</a>&ndash;&gt;-->

<!--</div>-->

<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--    <form th:action="@{/search}" th:object="${users}" th:method="get">-->
<!--        <select th:field="${users}">-->
<!--            <option th:each="user : ${users}"-->
<!--                    th:value="${user.getId()()}"-->
<!--                    th:text="${user.getFirstName()}">Options</option>-->
<!--        </select>-->
<!--        <button type="submit">submit</button>-->
<!--    </form>-->
<!--</div>-->

<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--    <table>-->
<!--        <tr th:each="user : ${users}">-->
<!--            <td>Select User:</td>-->
<!--            <td>-->
<!--                <select th:name="*{requestedUser}">-->
<!--                    <option value=""> &#45;&#45; </option>-->
<!--                    <option-->
<!--                            th:value="${user.getId()}"-->
<!--                            th:utext="${user.getFirstName() + ' ' + user.getLastName()}"-->
<!--                            th:selected="${requestedUser.id == user.id}"></option>-->
<!--                </select>-->
<!--            </td>-->
<!--            <td>-->
<!--                <a th:href="@{user.getId()}" th:type="button" class="btn btn-light">Test</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td><input name="submit" type="submit" value="submit" /></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;            <td> <a th:href="@{userId}" th:type="button" class="btn btn-light">Test</a></td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--    </table>-->
<!--</div>-->

<!--<form th:action="@{/id}" th:object="${users}" method="POST">-->

<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>Emp ID</td>-->
<!--            <td><input type="text" name="id" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Emp Name</td>-->
<!--            <td><input type="text" name="name" /></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td>Emp Designation</td>-->
<!--            <td th:each="user :${users}">-->
<!--                <select name="user">-->
<!--                <option-->
<!--                        th:text="${user.getFirstName()}">-->
<!--                </select>-->
<!--                <a th:href="@{'/users/' + ${user.getId()}}" th:type="button" class="btn btn-light">Next</a>-->
<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
<!--    <input type="submit" value="Save" />-->
<!--</form>-->


<!--<div layout:fragment="content">-->
<!--<form action="#" th:action="@{/id}" th:object="${users}" method="post">-->
<!--    <select class="form-control" id="handlebar" name="testOrder">-->
<!--        <option value="">Select Type</option>-->
<!--        <option th:each="user : ${users}"-->
<!--                th:value="${user.getId()}"-->
<!--                th:text="${user.getFirstName()}">-->
<!--        </option>-->
<!--    </select>-->
<!--    <button type="submit">Next Step</button>-->
<!--</form>-->
<!--</div>-->


<!--//this-->
<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td>-->
<!--                <select>-->
<!--                    <option-->
<!--                            th:each="user : ${users}"-->
<!--                            th:value="${user.getId()}"-->
<!--                            th:text="${user.getFirstName() + ' ' + user.getLastName()}"></option>-->
<!--                </select>-->
<!--                <a th:each="user : ${users}" th:href="@{'/users/' + ${user.getId()}}" th:type="button" class="btn btn-light">Test</a>-->
<!--            </td>-->
<!--            <td>-->
<!--&lt;!&ndash;                <button type="submit" name="removeRow"&ndash;&gt;-->
<!--&lt;!&ndash;                        th:value="${user.getId()}">Submit</button>&ndash;&gt;-->

<!--            </td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->


<!--<div layout:fragment="content">-->
<!--    <p>Please select user for next testing</p>-->
<!--        <form method="post" th:object="${users}">-->

<!--            <div class="form-group">-->
<!--                <label for="users">Choose user</label>-->
<!--                <select class="form-control selectpicker"  id="users">-->
<!--                    <option value="">Nothing selected</option>-->
<!--                    <option th:each="user : ${users}"-->
<!--                            th:value="${user.getId()}"-->
<!--                            th:utext="${user.getFirstName() + ' ' + user.getLastName()}"/>-->
<!--                                            </option>-->

<!--                                        </select>-->
<!--                                    </div>-->
<!--            <button class="btn btn-primary" type="submit">Submit form</button>-->
<!--                                </form>-->
<!--                        </div>-->


<!--//finish-->
<div layout:fragment="content">
    <a th:href="@{'/index'}" th:type="button" class="btn btn-outline-dark btn-back"><<  Back</a>
    <br>
    <br>
    <br>
    <h4 class="text-center">SELECT USER</h4>
    <h4 class="text-center">with which you want to test application</h4>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            Users list
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        User
                    </th>
                    <th>
                        Session
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.getFullName()}"></td>
                    <td>
                        <a th:href="@{'/accounts/' + ${user.getId()}}" th:type="button" class="btn btn-light">Start</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>