<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/open_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="open_content">
    <div class="home-img">
                                <div class="caption-content">
                                    <div class="font-alt mb-30 titan-title-size-2">Welcome to our Sunglasses Boutique with</div>
                                    <div class="font-alt mb-30 titan-title-size-3">New Collections 2023</div>
                                    <div class="font-alt mb-40 titan-title-size-2" style="font-weight: bold">Protect your eyes in style</div>
                                    <a class="section-scroll btn btn-border-w btn-round home-btn" th:href="@{/sunglasses}">Find a pair</a>
                                </div>
    </div>
<!--    <section class="home-section home-fade home-full-height" id="home">-->
<!--        <div class="hero-slider">-->
<!--            <ul class="slides">-->
<!--                <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://img.freepik.com/free-photo/portrait-young-woman-with-blue-scarf_1303-21680.jpg?w=1380&t=st=1685248073~exp=1685248673~hmac=6b7e2c695c37b06c37b4b73d0a4294e237789b7d0f02f31345ef501bca0ce22a');">-->
<!--                    <div class="titan-caption">-->
<!--                        <div class="caption-content">-->
<!--                            <div class="font-alt mb-30 titan-title-size-1">This is Titan</div>-->
<!--                            <div class="font-alt mb-30 titan-title-size-4"> Summer 2017</div>-->
<!--                            <div class="font-alt mb-40 titan-title-size-1">Your online fashion destination</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url('https://img.freepik.com/free-photo/portrait-young-woman-with-blue-scarf_1303-21680.jpg?w=1380&t=st=1685248073~exp=1685248673~hmac=6b7e2c695c37b06c37b4b73d0a4294e237789b7d0f02f31345ef501bca0ce22a');">-->
<!--                    <div class="titan-caption">-->
<!--                        <div class="caption-content">-->
<!--                            <div class="font-alt mb-30 titan-title-size-1"> This is Titan</div>-->
<!--                            <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </section>-->
</div>
</body>
</html>