<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/personal_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="personal_content">
    <section class="module">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h4 class="font-alt mb-0">Your account</h4>
                    <hr class="divider-w mt-10 mb-20">
                    <div role="tabpanel">
                        <ul class="nav nav-tabs font-alt" id="myTab"  role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="info-tab" data-bs-toggle="tab" type = "button" data-bs-target="#info" role="tab" aria-controls="info" aria-selected="true"><span class="icon-tools-2"></span>Personal info</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="password-tab" data-bs-toggle="tab" type = "button" data-bs-target="#password" role="tab" aria-controls="password" aria-selected="false"><span class="icon-tools-2"></span>Change password</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="address-tab" data-bs-toggle="tab" type = "button" data-bs-target="#address" role="tab" aria-controls="address" aria-selected="false"><span class="icon-tools-2"></span>Shipping address</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="history-tab" data-bs-toggle="tab" type = "button" data-bs-target="#history" role="tab" aria-controls="history" aria-selected="false"><span class="icon-tools-2"></span>Order history</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" onclick="document.forms['logoutForm'].submit()" style="cursor: pointer !important;"><span class="icon-tools-2"></span>Logout</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                                <form th:action="@{'/personal/account'}" class="form-group" th:object="${personalInfo}" th:method="POST">
                                    <div class="form-block">
                                        <div class="input-block" style="display: none">
                                            <label class="label-text" for="id">Id</label>
                                            <input th:value="${personalInfo.getId()}" th:field="*{id}" class="form-control account-form" type="text" id="id" placeholder=""/>
                                        </div>
                                        <div class="input-block">
                                            <label class="label-text" for="firstName">First name</label>
                                            <input th:value="${personalInfo.getFirstName()}" th:field="*{firstName}" class="form-control account-form" type="text" id="firstName" placeholder=""/>
                                        </div>
                                        <div class="input-block">
                                            <label class="label-text" for="email">Email</label>
                                            <input th:value="${personalInfo.getEmail()}" th:field="*{email}" class="form-control account-form" type="email" id="email" placeholder=""/>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="input-block">
                                            <label class="label-text" for="lastName">Last name</label>
                                            <input th:value="${personalInfo.getLastName()}" th:field="*{lastName}" class="form-control account-form" type="text" id="lastName" placeholder=""/>
                                        </div>
                                        <div class="input-block">
                                            <label class="label-text" for="phone">Phone number</label>
                                            <input th:value="${personalInfo.getPhoneNumber()}" th:field="*{phoneNumber}" class="form-control account-form" type="tel" id="phone" placeholder=""/>
                                        </div>
                                    </div>
                                    <div class="form-block">
                                        <div class="input-block">
                                            <label class="label-text" for="fatherName">Father name</label>
                                            <input th:value="${personalInfo.getFatherName()}" th:field="*{fatherName}" class="form-control account-form" type="text" id="fatherName" placeholder=""/>
                                        </div>
                                        <div class="input-block">
                                            <label class="label-text" for="birthDate">Birth date</label>
                                            <input th:value="${personalInfo.getBirthDay()}" th:field="*{birthDay}" class="form-control account-form" type="date" id="birthDate" placeholder=""/>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button th:type="submit" value="Submit" class="btn btn-primary active">Save</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="password" role="tabpanel" aria-labelledby="password-tab">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                            </div>
                            <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">Lorem ipsum
                            </div>
                            <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">Tratata
                            </div>
                            <div class="tab-pane" id="logout"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


</body>
</html>